#Collection img{
    width: 300px;
    height: 250px;
    padding: 2rem;
}
.card{
    width: 300px;
    height: 400px;
    background : #d4d2d2 !important;
    border :none !important;
    box-shadow: 15px 20px 20px rgb(9, 6, 6),
                inset 4px 4px 10px rgb(11, 9, 9);
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
    transition: .2s;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgb(11, 11, 11),
                inset -4px -4px 10px #0f0f0f;
                transition: .2s;
}
#About Us{
    background : linear-gradient(to right,#dcea1d41,#f9f1af 100%)
}
#About h1{
    font-weight: 800;
    font-size: 50px;
    color:rgb(26, 25, 25);
}
#para{
    color:black;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.me-2 {
    margin-right: 539px;
}
.form-control-1{
    margin-left: 527px
}